{% extends "core/base.html" %}

{% block content %}
    <div class="container">
        <div class="row flex-column d-flex justify-content-center align-items-center mt-5">
            <div class="col" style="max-width: 400px">
                <textarea class="" name="add_task" id="" cols="50" rows="10">


                </textarea>
            </div>
            <div class="col" style="max-width: 400px">
                <button class="btn btn-outline-success mx-auto ">Создать</button>
            </div>
        </div>

    </div>


{% endblock %}